.pers {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.health-line_container {
    width: 200px;
    height: 15px;
    border: 1px solid black;
    font-size: 10px;

}

.health-line {
    height: 100%;    
}
